@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBold.eot");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SVN-Gilroy", sans-serif;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input,
button {
  outline: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.header {
  height: 519px;
  max-width: 100%;
  background: center/cover no-repeat url("../images/header-image.png");
}
.header-container {
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
  position: fixed;
  top: -50%;
  left: 0;
  right: 0;
  transition: top 0.5s linear;
  z-index: 10;
}
.header-nav {
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 33px;
}
.header-group-logo {
  display: flex;
  align-items: center;
}
.header-logo-name {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.header-nav-search {
  width: 374px;
  height: 45px;
  position: relative;
}
.header-search {
  border: 1px solid #d4d4d4;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  padding: 11px 50px 13px 20px;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;
}
.header-search-icon {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  color: #d4d4d4;
  cursor: pointer;
}
.header-nav-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 350px;
}
.header-nav-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.header-nav-link {
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
  padding: 4px 11px;
  background-color: #c40000;
  border-radius: 4px;
}
.header-create-blog, .header-signin-name {
  font-weight: 500;
  font-size: 15px;
}
.header-signin {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.header-logo {
  width: 60px;
  height: 60px;
}
.header-search-icon {
  width: 19px;
  height: 19px;
}
.header-signin-icon {
  width: 30px;
  height: 30px;
}
.header-menu {
  display: none;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 14px rgba(0, 0, 0, 0.25);
  z-index: 10;
}
.header-menu-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 9px 15px;
}
.header-menu-icon {
  width: 26px;
  height: 25px;
  color: #292d32;
}
.header-menu-search {
  width: 19px;
  height: 19px;
  color: #a7a7a7;
}
.header-menu-logo-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-menu-image-icon {
  width: 47px;
  height: 45px;
}
.header-logo-name-menu {
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.sticky {
  top: 0;
  background-color: #ffffff;
}
.sticky-active {
  top: 0;
}
.sticky .header-nav {
  padding: 10px 0;
}

.blogpost-card-icon {
  width: 20px;
  height: 20px;
}
.blogpost-card-right {
  width: 18px;
  height: 8px;
}
.blogpost-category-icon {
  width: 15px;
  height: 15px;
}
.blogpost-content {
  margin: 50px 0 38px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.blogpost-title {
  color: #000000;
  font-weight: 700;
  font-size: 50px;
}
.blogpost-category {
  padding: 7px 60px 7px 15px;
  border: 1px solid #dedede;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}
.blogpost-category-name {
  font-weight: 500;
  color: #212121;
  font-size: 15px;
}
.blogpost-category-icon {
  position: absolute;
  right: 0;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}
.blogpost-card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 70px;
  column-gap: 30px;
  margin-bottom: 50px;
}
.blogpost-card {
  border: 1px solid #cccccc;
  overflow: hidden;
  border-radius: 8px;
}
.blogpost-card-img {
  width: 100%;
  height: 276px;
  object-fit: cover;
}
.blogpost-card-content {
  padding: 20px;
}
.blogpost-card-infomation {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 15px;
}
.blogpost-card-group {
  display: flex;
  align-items: center;
  gap: 6px;
}
.blogpost-card-author {
  font-weight: 400;
  font-size: 18px;
  color: #211e3b;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogpost-card-title {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogpost-card-paragraph {
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 29px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blogpost-card-btn {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}
.blogpost-card-btn:hover .blogpost-card-link {
  background-color: #c40000;
  color: #ffffff;
}
.blogpost-card-btn:hover .card-icon {
  color: #ffffff;
}
.blogpost-card-link {
  padding: 10px 46px 10px 15px;
  color: #c40000;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
}
.blogpost-card-right {
  position: absolute;
  right: 10px;
  top: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
}

.session-pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-bottom: 90px;
}
.session-pagination-item {
  cursor: pointer;
  font-weight: 700;
  font-size: 20px;
}
.session-pagination-item:first-child, .session-pagination-item:last-child {
  background-color: #c40000;
  padding: 8px;
  border-radius: 50%;
}
.session-pagination-item:last-child {
  background-color: #e5e5e5;
}
.session-pagination-icon {
  width: 20px;
  height: 20px;
  color: #ffffff;
}
.session-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 50%;
  color: #000000;
}
.session-link:hover {
  color: #c40000;
  background-color: #ffe4e4;
}
.session-active {
  color: #c40000;
  background-color: #ffe4e4;
}

.card-icon {
  position: absolute;
  top: -50%;
  color: #c40000;
}

.footer-content {
  padding: 36px 0 38px;
  background-color: #000000;
}
.footer-paragraph {
  color: #ffffff;
  text-align: center;
  font-weight: 500;
  font-size: 15px;
}

@media screen and (max-width: 769px) {
  .header {
    height: 385px;
    background-image: url("../images/imagepc.png");
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    display: block;
  }
  .blogpost-title {
    font-size: 30px;
  }
  .blogpost-card-list {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 50px;
    column-gap: 0;
  }
  .session-pagination-list {
    gap: 6px;
    margin-bottom: 50px;
  }
  .footer-content {
    padding: 36px 0;
  }
}

/*# sourceMappingURL=style.css.map */
