@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyBold.eot");
  src: url("../fonts/SVN-GilroyBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SVN-GilroyBold.woff2") format("woff2"),
    url("../fonts/SVN-GilroyBold.woff") format("woff"),
    url("../fonts/SVN-GilroyBold.ttf") format("truetype"),
    url("../fonts/SVN-GilroyBold.svg#SVN-GilroyBold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SVN-Gilroy";
  src: url("../fonts/SVN-GilroyLight.eot");
  src: url("../fonts/SVN-GilroyLight.eot?#iefix") format("embedded-opentype"),
    url("../fonts/SVN-GilroyLight.woff2") format("woff2"),
    url("../fonts/SVN-GilroyLight.woff") format("woff"),
    url("../fonts/SVN-GilroyLight.ttf") format("truetype"),
    url("../fonts/SVN-GilroyLight.svg#SVN-GilroyLight") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-weight: 300;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input,
button {
  outline: none;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
