@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-GilroyBold.eot');
    src: url('SVN-GilroyBold.eot?#iefix') format('embedded-opentype'),
        url('SVN-GilroyBold.woff2') format('woff2'),
        url('SVN-GilroyBold.woff') format('woff'),
        url('SVN-GilroyBold.ttf') format('truetype'),
        url('SVN-GilroyBold.svg#SVN-GilroyBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Gilroy';
    src: url('SVN-GilroyLight.eot');
    src: url('SVN-GilroyLight.eot?#iefix') format('embedded-opentype'),
        url('SVN-GilroyLight.woff2') format('woff2'),
        url('SVN-GilroyLight.woff') format('woff'),
        url('SVN-GilroyLight.ttf') format('truetype'),
        url('SVN-GilroyLight.svg#SVN-GilroyLight') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

